.blue-button{
  padding: 0.7rem 2rem ;
  background-color: var(--blue-destaque);
  color: var(--accent-color2);
  border: none;
  border-radius: 1.3rem;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}